<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>blog-{titleName}</title>
    <link rel="stylesheet" href="/static/css/tp-vote.css">
    <script src="/static/js/common.js"></script>
    <link rel="stylesheet" href="/assets/css/login-add.css">
</head>

<body>
    <div id="bg"></div>
    <div id="wraper" class="wraper">
        <header class="top-nav">
            <!--<a href="javascript:;" class="reg-btn">注册</a>-->
        </header>
        <div class="login-box">
            <header class="title">
                <h1 class="logo hide-text">
                投票
                <!-- <img src="/static/img/rio.png" alt="" style="width:130px;"> -->
            </h1>
                <h2 class="subtitle">公平公正、透明公开、真实有效</h2>
            </header>
            <input type="password" hidden>
            <form id="myform">
                <div class="group-inputs">
                    <div class="input-wraper loginname">
                        <input type="text" placeholder="登录名" id="name">
                        <label class="error">账号者密码错误</label>
                    </div>
                    <div class="input-wraper password ">
                        <input type="password" placeholder="密码" id="password">
                        <label class="error">账号者密码错误</label>
                    </div>
                </div>
                <div class="group-inputs error hide" id="error">
                    <div class="txt-wraper">
                        错误信息
                    </div>
                </div>
                <div class="group-btns login-btns">
                    <span class="btn sub" id="btn_login" v-on:click="login">登录</span>
                    <span class="btn reg" id="btn_reg" v-on:click="reg">注册</span>
                </div>
            </form>
        </div>
    </div>
    <div class="mask" id="mask">
        <div class="box reg-box">
            <h3 class="box-head">
                <span class="title">注册</span>
                <a href="javascript:;" class="close-regBox">关闭按钮</a>
            </h3>
            <div class="box-body">
                <div class="reg-view">
                    <p>
                        <input type="text" name="reg_name" id="reg_name" placeholder="用户名(必须是邮箱)">
                    </p>
                    <p>
                        <input type="text" name="reg_pwd" id="reg_pwd" placeholder="密码(6-18位,必须包含字母、数字、特殊字符)">
                    </p>
                    <p>
                        <input type="text" name="reg_pwd" id="reg_pwd_repeat" placeholder="确认密码">
                    </p>
                    <p>
                        <input type="text" name="reg_picode" id="reg_picCode" placeholder="图片码" />
                        <span class="pic-code">
                        <img src="/captcha/new.gif?t=" alt="">
                    </span>
                    </p>
                    <p>
                        <input type="button" value="确定" id="reg_enter">
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/jquery-3.2.1.js"></script>
<script src="/static/js/lib.js"></script>
<script src="/static/js/login.bundle.js"></script>
<script src="/assets/js/vue.js"></script>
<script type="text/javascript" src="/assets/js/register.js"></script>
</html>
