{>"include/layout.html"/}
{<selfCss}
<link rel="stylesheet" href="/static/css/tp-spider.css">
<style>
    .art-content li{
        line-height: 30px;
        padding-left: 5px;
        border-bottom: 1px solid #f2f2f2;
        font-size:14px;
    }
    .art-item .author,
    .art-item .time{
        float: right;
        padding: 0 5px;
    }

</style>
{/selfCss}
{<content}
<div class="box spider-box">
    <header class="box-head">
        <h3 class="title">文章</h3>
        <ul class="tool-panel pull-right">
            <li>
                <span class="tool-btn toggle-size"><i class="fa fa-chevron-up"></i></span>
            </li>
        </ul>
    </header>
    <div class="box-body art-content">
        {#articles}
        <ul>
            <li class="art-item"><a href="">{title}</a> <span class="time">{publishDate}</span><span class=" author">{author}</span></li>
        </ul>
        {/articles}
    </div>
</div>
{/content}
{<bodyContent}
{/bodyContent}

{<selfJs}
<script src="/static/js/dashboard.bundle.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/sp-art.js"></script>
{/selfJs}
